body {
  background-color: #4a4a4a; 
}

.Logo {
  width: 283px;
  height: 87px;
  object-fit: contain;
}

.top_panel {
  margin-top: 30px;
  margin-bottom: 33px;
  text-align: center;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
}

.lenta { min-width: 430px; }
.searchSettings { min-width: 280px; }

.lenta, .searchSettings {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 10px;
}

.lenta_top {
  display: inline-block;
  width: 100%;
}

.lenta_top p, .searchSettings p {
  font-family: Tahoma;
  font-size: 24px;
  text-align: left;
  color: #666666;
}

.lenta_top button, .mistake_btn button {
  float: right;
}

.upd, .button_row, .social_nw {
  display: inline-block;
}

.upd p { text-align: right; }
.upd p, .tagSelect {
  font-family: Tahoma;
  font-size: 12px;
  color: #cccccc;
}

.upd button {
  margin-left: 8px;
  margin-right: -32px;
}

.button_row button {
  width: 100px;
  height: 56px;
  padding: 11px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  text-align: center;
  color: #999999;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.button_row p {
  margin-bottom: 0px;
}

.button_row button:focus {
  outline: none; 
  background-color: rgba(52, 152, 219, 0.06);
  border: solid 1px #cccccc;
  border-bottom: solid 3px #86A8DF;
}

#txt, #feedback_date {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 11px;
  text-align: center;
  color: #999999;
}

#count_all, #count_pos, #count_neg, #count_any {
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
}
#count_all { color: #4a4a4a; }
#count_pos { color: #2ecc71; }
#count_neg { color: #e73c61; }
#count_any { color: #9b9b9b; }

.lenta_content {
  width: 100%;
  margin-bottom: 42px;
}

#feedback_date {
  float: left;
  margin-top: -10px;
  margin-left: -8px;
}

.social_nw button {
  float: left;
  margin-left: -16px;
}

.feedback {
  background-color: #e8ffeb;
  border-radius: 4px;
}

.feedback_text {
  padding: 16px
}

.fb_head {
  margin-left: 16px;
  margin-bottom: -16px;
}

@media (max-width: 1090px) and (min-width: 870px) {
  .content { 
    margin-right: 2%;
    margin-left: 2%;
  }
}

@media (max-width: 870px) {
  .content {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .searchSettings { min-width: 430px; }
}

.searchSettings {
  width: auto;
  height: auto;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
  margin-right: 10px;
}
.tagSelect {
  padding: 4px;
  width: calc(100% - 44px);
  float: left;
  height: 44px;
  border-radius: 2px 0px 0px 2px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  margin-top: 8px;
  display: inline-block;
  font-size: 14px;
  padding-left: 12px;
  color: black;
}

.addingTagBtn {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 0px 2px 2px 0px;
  background-color: #f0ad4e;
  display: inline-block;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 0px;
  float: right;
  font-size: 25px;

}
.tagCompany { 
  padding: 1px 2px 1px 2px;
  margin-top: 8px;
  margin-right: 4px;
  height: 22px;
  border-radius: 2px;
  background-color: #9b9b9b;
  display: inline-block;
  font-family: Tahoma;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

.social_nw {
  float: left;
  margin-top: 16px;
}

#avatar {
  width: 48px;
  height: 48px;
  border-radius: 23px;
  float: left;
  margin-right: 16px;
  border: solid 1px #cccccc;
}

.feedback {
  font-family: Tahoma;
  font-size: 14px;
  text-align: left;
  color: #4a4a4a;
  margin-bottom: 2px;
}

#username {
  font-size: 18px;
}

#social_nw_name {
  font-size: 12px;
  margin-top: -21px;
  font-family: Tahoma;
  color: #537499;
}

.mistake_btn button {
  font-family: Tahoma;
  color: #537499;
  font-size: 12px;
  margin-top: 16px;
}

.open>.dropdown-menu {
  margin-left: 80px;
}

.btn-group-vertical {
  display: block;
}
.btn-group-vertical .btn{
  width: 100% ;
  max-width: 268px;
  height: 36px;
  border: none;
  padding: 3px;
  margin-bottom: 4px;
  border-left: solid 3px white;
  border-radius: none;
}

.btn-group-vertical .btn:focus{
  outline: none;
  border-left: solid 3px #86A8DF;
  background-color: #f4fafd !important;
}
.btn-group-vertical .btn:hover{
  background-color: white;
}
.btn-group-vertical .btn p{
  margin-top: 3px;
  font-family: Tahoma;
  font-size: 18px;
  text-align: left;
  color: #4a4a4a;
}

.btn-group-vertical .btn:active{
  box-shadow: none;
}

.btn-group-vertical .btn img{
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 12px;
  margin-left: 0;
}

.open>.dropdown-menu {
  margin-left: 80px;
}
 


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cccccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cccccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cccccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cccccc;
}