<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brand Focus</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class = "top_panel">
      <img src="/static/images/logo.png" srcset="/static/images/logo@2x.png 2x, /static/images/logo@3x.png 3x" class="Logo">
    </div>

    <div class = "content">
      <div class = "row">
       <div  class="col-sm-4">

        <div class="searchSettings">
              <p>Отслеживаемые</p>
              <div class="btn-group-vertical">
                <button type="button" class="btn btn-default btnChooseFirm" data-id="6">
                  <img src="/static/images/tensor-logo.png">
                  <p>Тензор</p>
                </button>
                <button type="button" class="btn btn-default btnChooseFirm" data-id="7">
                  <img src="/static/images/SBK-logo.png">
                  <p>СБК Контур</p>
                </button>
                <button type="button" class="btn btn-default btnChooseFirm" data-id="8">
                  <img src="/static/images/microsoft-logo.png">
                  <p>Майкрософт</p>
                </button>
                <button type="button" class="btn btn-default btnChooseFirm" data-id="9">
                  <img src="/static/images/mili-logo.png">
                  <p>Ресторан Мили</p>
                </button>
            </div>
            </div>


        <div class = "searchSettings" id="focusing">
          <p>Фокусировка</p>
       <div>
        <input id="keyWords" class="tagSelect" placeholder="Введите искомый тег" disabled>
        	<button type="button" id="addBtn" class="addingTagBtn" disabled>+</button>
        </input>
        
      </div>
      <br clear="all"/>
      <div id="workingArea"></div>
      </div> 
    </div>

        <div class = "col-sm-8">
          <div class = "lenta">
            <div class = "row lenta_top">
              <div class = "col-sm-6">
                <p>Лента отзывов</p>
              </div>
              <div class = "col-sm-6 upd">
                <button type="button" class="btn btn-warning">Обновить</button>
                <p>Обновлено...</p>
              </div>
            </div>

            <div class = "button_row">
              <div class="btn-group">
                <button type="button" class="btn btn-default">
                  <p id = "count_all">123</p>
                  <p id = "txt">Все</p>
                </button>
                <button type="button" class="btn btn-default">
                  <p id = "count_pos">12</p>
                  <p id = "txt">Полож.</p>
                </button>
                <button type="button" class="btn btn-default">
                  <p id = "count_neg">23</p>
                  <p id = "txt">Отриц.</p>
                </button>
                <button type="button" class="btn btn-default">
                  <p id = "count_any">1</p>
                  <p id = "txt">Неопред.</p>
                </button>
              </div>
            </div>

            <div class = "lenta_content">

              <!--начало пробного комментария-->
              <div class = "feedback">
                <div class = "fb_head row">
                  <div class = "col-sm-6 social_nw row">

                    <img src = "/static/images/avatar.png" id = "avatar">
                    <p id = "username">Ivan Ivanov</p>

                    <button type="button" class="btn btn-lg btn-link">
                      <p id = "social_nw_name">VK</p>
                    </button>
                    <p id = "feedback_date">11.01.2011</p>
                  </div>
                  <div class = "col-sm-6 mistake_btn">
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">Ошибка<span class="caret" float="right"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">   
                      <li role="presentation"><a role="menuitem" href="#">Положительный</a></li>
                      <li role="presentation"><a role="menuitem" href="#">Отрицательный</a></li>
                      <li role="presentation"><a role="menuitem" href="#">Неопределенный</a></li>
                    </ul>
                  </div>
                </div>
                <div class = "feedback_text">
                  <p id = "fb_text">
                    Стабильная ЗП; современное здание; молодой коллектив; корпоративные мероприятия; зоны отдыха для сотрудников; спорт.зал; возможность карьерного роста и т.д. 
                    Самое главное - это стабильная ЗП: ты точно знаешь, когда она придёт и сколько. 
                    Если говорят, что тут нет возможности карьерного роста - не верьте. Она есть! Всё зависит от человека, желания (в меньшей степени от отдела (в каждом отделе своя мотивация: где-то проще, где-то сложнее)). 
                    Если ты разработчик, то ЗП повыше, чем у остальных, возможностей побольше. В других отделах перспектив поменьше, но они есть и зачастую немалые... 
                    Руководство....ну оно и в Африке руководство! Не бывает идеального начальника. 
                    Но в целом, всё неплохо. Руководство адекватное. 
                  </p>
                </div>
              </div>
              <div class = "feedback" style="background-color: #ffefed">
                <div class = "fb_head row">
                  <div class = "col-sm-6 social_nw row">

                    <img src = "/static/images/avatar.png" id = "avatar">
                    <p id = "username">Ivan Ivanov</p>

                    <button type="button" class="btn btn-lg btn-link">
                      <p id = "social_nw_name">VK</p>
                    </button>
                    <p id = "feedback_date">11.01.2011</p>
                  </div>
                  <div class = "col-sm-6 mistake_btn">
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="caret" float="right">Ошибка</span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">   
                      <li role="presentation"><a role="menuitem" href="#">Положительный</a></li>
                      <li role="presentation"><a role="menuitem" href="#">Отрицательный</a></li>
                      <li role="presentation"><a role="menuitem" href="#">Неопределенный</a></li>
                    </ul>
                  </div>
                </div>
                <div class = "feedback_text">
                  <p id = "fb_text">
                    Стабильная ЗП; современное здание; молодой коллектив; корпоративные мероприятия; зоны отдыха для сотрудников; спорт.зал; возможность карьерного роста и т.д. 
                    Самое главное - это стабильная ЗП: ты точно знаешь, когда она придёт и сколько. 
                    Если говорят, что тут нет возможности карьерного роста - не верьте. Она есть! Всё зависит от человека, желания (в меньшей степени от отдела (в каждом отделе своя мотивация: где-то проще, где-то сложнее)). 
                    Если ты разработчик, то ЗП повыше, чем у остальных, возможностей побольше. В других отделах перспектив поменьше, но они есть и зачастую немалые... 
                    Руководство....ну оно и в Африке руководство! Не бывает идеального начальника. 
                    Но в целом, всё неплохо. Руководство адекватное. 
                  </p>
                </div>
              </div>
              <div class = "feedback" style="background-color: #f8f8f8">
                <div class = "fb_head row">
                  <div class = "col-sm-6 social_nw row">

                    <img src = "/static/images/avatar.png" id = "avatar">
                    <p id = "username">Ivan Ivanov</p>

                    <button type="button" class="btn btn-lg btn-link">
                      <p id = "social_nw_name">VK</p>
                    </button>
                    <p id = "feedback_date">11.01.2011</p>
                  </div>
                  <div class = "col-sm-6 mistake_btn">
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="caret" float="right">Ошибка</span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">   
                      <li role="presentation"><a role="menuitem" href="#">Положительный</a></li>
                      <li role="presentation"><a role="menuitem" href="#">Отрицательный</a></li>
                      <li role="presentation"><a role="menuitem" href="#">Неопределенный</a></li>
                    </ul>
                  </div>
                </div>
                <div class = "feedback_text">
                  <p id = "fb_text">
                    Стабильная ЗП; современное здание; молодой коллектив; корпоративные мероприятия; зоны отдыха для сотрудников; спорт.зал; возможность карьерного роста и т.д. 
                    Самое главное - это стабильная ЗП: ты точно знаешь, когда она придёт и сколько. 
                    Если говорят, что тут нет возможности карьерного роста - не верьте. Она есть! Всё зависит от человека, желания (в меньшей степени от отдела (в каждом отделе своя мотивация: где-то проще, где-то сложнее)). 
                    Если ты разработчик, то ЗП повыше, чем у остальных, возможностей побольше. В других отделах перспектив поменьше, но они есть и зачастую немалые... 
                    Руководство....ну оно и в Африке руководство! Не бывает идеального начальника. 
                    Но в целом, всё неплохо. Руководство адекватное. 
                  </p>
                </div>
              </div>
              <!--конец пробного комментария-->
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
  </body>
</html>

<!-- 
id = "social_nw_name" - имя социальной сети
id = "feedback_date" - дата написания комментария
id = "fb_text" - текст комментария
id = "avatar" - аватар пользователя
id = "username" - имя пользователя
-->