<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brand Focus</title>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class = "top_panel">
      <img src="../public/images/logo.png" srcset="../public/images/logo@2x.png 2x, ../public/images/logo@3x.png 3x" class="Logo">
    </div>

    <div class = "content">
      <div class = "row">

        <div class = "col-sm-4">
          <div class = "search_settings">
            <p>Фокусировка</p>
          </div>
        </div>

        <div class = "col-sm-8">
          <div class = "lenta">
            <div class = "row lenta_top">
              <div class = "col-sm-6">
                <p>Лента отзывов</p>
              </div>
              <div class = "col-sm-6 upd">
                <button type="button" class="btn btn-warning">Обновить</button>
                <p>Обновлено...</p>
              </div>
            </div>

            <div class = "button_row">
              <div class="btn-group">
                <button type="button" class="btn btn-default">
                  <p id = "count_all">123</p>
                  <p id = "txt">Все</p>
                </button>
                <button type="button" class="btn btn-default">
                  <p id = "count_pos">12</p>
                  <p id = "txt">Полож.</p>
                </button>
                <button type="button" class="btn btn-default">
                  <p id = "count_neg">23</p>
                  <p id = "txt">Отриц.</p>
                </button>
                <button type="button" class="btn btn-default">
                  <p id = "count_any">1</p>
                  <p id = "txt">Неопред.</p>
                </button>
              </div>
            </div>

            <div class = "lenta_content">

              <!--начало пробного комментария-->
              <div class = "feedback">
                <div class = "fb_head row">
                  <div class = "col-sm-6 social_nw row">
                    <button type="button" class="btn btn-lg btn-link">
                      <p id = "social_nw_name">VK</p>
                    </button>
                    <p id = "feedback_date">11.01.2011</p>
                  </div>
                  <div class = "col-sm-6 mistake_btn">
                    <button type="button" class="btn btn-link">Mistake?</button>
                  </div>
                </div>

                <div class = "feedback_text">
                  <p id = "fb_text">
                    Стабильная ЗП; современное здание; молодой коллектив; корпоративные мероприятия; зоны отдыха для сотрудников; спорт.зал; возможность карьерного роста и т.д. 
                    Самое главное - это стабильная ЗП: ты точно знаешь, когда она придёт и сколько. 
                    Если говорят, что тут нет возможности карьерного роста - не верьте. Она есть! Всё зависит от человека, желания (в меньшей степени от отдела (в каждом отделе своя мотивация: где-то проще, где-то сложнее)). 
                    Если ты разработчик, то ЗП повыше, чем у остальных, возможностей побольше. В других отделах перспектив поменьше, но они есть и зачастую немалые... 
                    Руководство....ну оно и в Африке руководство! Не бывает идеального начальника. 
                    Но в целом, всё неплохо. Руководство адекватное. 
                  </p>
                </div>
              </div>
              <!--конец пробного комментария-->
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
  </body>
</html>

<!-- 
id = "social_nw_name" - имя социальной сети
id = "feedback_date" - дата написания комментария
id = "fb_text" - текст комментария
-->